footer {
	display: flex;
	background-color: #6c757d;
	color: white;
	margin: 40px 0px 0px 0px;
	vertical-align: middle;
}

body {
	background-color: #343a40;
	color: white;
	vertical-align: middle;
}

.container {
	align-content: stretch;
	display: flex;
	flex-flow: column wrap;
	background-color: #343a40
	vertical-align: middle;
	height: 100
}

.jumbotron {
	background-color: #343a40;
	color: white;
	vertical-align: middle;
	justify-content: center;
	margin-top: 100px;
}